
/data
/results


# auxiliary latex files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

# mac tmp files
.DS_Store

# backup files
bak.*

# vim swap files
*.swp

# compiled py files
*.pyc

# ignore vim's doc/tags
doc/tags

